<div ng-controller="HomeCtrl" class="md-padding" ng-cloak>
  <div>
    <h3>Customized Dashboards</h3>
  </div>

  <div class="">
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="start start">
        <div class="" layout="column"  flex="30">
          <h4>Title</h4>
        </div>
        <div class="" layout="column"  flex="25">
          <h4>Owner</h4>
        </div>
        <div class="" layout="column"  flex="25">
          <h4>Last Updated</h4>
        </div>
        <div class="" layout="column"  flex="20" layout-align="start end">
          <md-button class="controlOption">
            <i class="material-icons">library_add</i>ADD NEW
          </md-button>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 1</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 2</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 1</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 3</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 4</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          <a ng-href="/dashboard/1">My custom dashboard 5</a>
        </div>
        <div class="" layout="column"  flex="25">
          Arturo Riestra
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20" layout-align="end end">
          <md-menu md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ><i class="material-icons">mode_edit</i>Rename</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">share</i> Share</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">content_copy</i>Duplicate</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ><i class="material-icons">delete</i>Delete</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-whiteframe>
  </div>

</div>
