<md-toolbar class="toolbar" layout="row" layout-align="start center" layout-padding="">
  <div class="navbar-left" layout="row" layout-align="center center">
    <p><h2>NXP</h2>&nbsp; WEB ANALYTICS</p>

  </div>
  <span flex=''></span>
  <navbar-right>

    <md-button class="md-icon-button md-primary" aria-label="Home" ng-href="/home">
      <i class="material-icons">home</i>
    </md-button>
    <md-button class="md-icon-button md-primary" aria-label="Standard Report" ng-href="/about">
      <i class="material-icons">assessment</i>
    </md-button>
    <md-button class="md-icon-button md-primary" aria-label="Dashboard" ng-href="/about">
      <i class="material-icons">dashboard</i>
    </md-button>
    <md-button class="md-icon-button md-primary" aria-label="User" ng-href="/about">
      <i class="material-icons">account_box</i>
    </md-button>

  </navbar-right>
</md-toolbar>
