<div class="md-padding" ng-cloak>
  <div class="segments-list">
  <div class="" layout="row">
    <div layout="column" flex="80">
      <h2>My Profile</h2>
    </div>
    <div class="" layout="row" layout-align="end end">
      <md-button class="controlOption" ng-click="logginOut()">
        <i class="material-icons">exit_to_app</i> LOGOUT
      </md-button>
    </div>
  </div>


    <div class="" layout="row"  layout-align="center center">
      <div class="" layout="column"  flex="40">
        <h4>Name</h4>
      </div>
      <div class="" layout="column"  flex="30">
        <h4>Username</h4>
      </div>
      <div class="" layout="column"  flex="30">
        <h4>Member since</h4>
      </div>
    </div>
      <div class="" layout="row" layout-align="center center" ng-repeat="user in userProf">
        <div class="" layout="column"  flex="40">
          {{user._id}}

        </div>
        <div class="" layout="column"  flex="30">
          {{user.username}}

        </div>
        <div class="" layout="column"  flex="30">
          {{user.createdAt}}
        </div>
      </div>
      <div layout="row">
        <md-whiteframe class="md-whiteframe-1dp" flex="100">
          <div class="" layout="row">
            <h3>My Segments</h3>
          </div>
          <div class="" layout="row">
            Select the segments that can be selected on Home, Reports or Dashboard.
          </div>
        </md-whiteframe>
      </div>


    <div layout="column">
      <md-whiteframe class="md-whiteframe-1dp" flex="100">
        <div layout="row" layout-padding="">
          <md-input-container>
            <label>Search</label>
            <input type="Search" ng-model="search.name" placeholder="Search" ng-change="resetGroup()">
          </md-input-container>
        </div>
        <div ng-repeat="segment in userProf[0].segments | orderBy: 'group' | filter:search">
          <div ng-if="segmentGroup(segment.group)" my-repeat-directive ng-model="segmDiv">
            <h4>{{ segment.group }}</h4>
          </div>
          <ul>
            <li>
              <md-checkbox ng-checked="segment.checked" ng-click="behaviorSegment(segment._id, segment.checked)">
                {{ segment.name }}
              </md-checkbox>
            </li>
          </ul>
        </div>


      </md-whiteframe>
    </div>

  </div>
</div>
