<div ng-controller="ConfigurationCtrl" class="md-padding" ng-cloak>
  <div>
    <h2>Portal Settings</h2>
  </div>

  <div class="">
    <md-whiteframe class="md-whiteframe-5dp" flex>
      <div class="" layout="row">
        <div class="" layout="column"  flex="30">
          <h3>Users</h3>
        </div>
        <div class="" layout="column"  flex="70" layout-align="start end">
          <md-button class="controlOption">
            <i class="material-icons">library_add</i>ADD NEW
          </md-button>
        </div>
      </div>

    <div class="" layout="row">
      <div class="" layout="column"  flex="30">
        <h4>Name</h4>
      </div>
      <div class="" layout="column"  flex="25">
        <h4>Username</h4>
      </div>
      <div class="" layout="column"  flex="25">
        <h4>Created</h4>
      </div>
      <div class="" layout="column"  flex="20">
        <h4>Role</h4>
      </div>
    </div>

      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          Jose Romero
        </div>
        <div class="" layout="column"  flex="25">
          b27206
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20">
          <md-select ng-model="limit" class="configSelect">
            <md-option selected>Administrator</md-option>
            <md-option>User</md-option>
          </md-select>
        </div>
      </div>
      <hr>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          Luis Gazcon
        </div>
        <div class="" layout="column"  flex="25">
          x41691
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div layout="column"  flex="20">
          <md-select ng-model="limit" class="configSelect">
            <md-option>Administrator</md-option>
            <md-option selected>User</md-option>
          </md-select>
        </div>
      </div>
      <hr>
    </md-whiteframe>
  </div>

  <div class="logDiv">
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row">
        <div class="" layout="column"  flex="30">
          <h2>Segments</h2>
        </div>
        <div class="" layout="column"  flex="70" layout-align="start end">
          <md-button class="controlOption">
            <i class="material-icons">library_add</i>ADD NEW
          </md-button>
        </div>
      </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
    <div class="" layout="row" layout-align="start start">
      <div class="" layout="column"  flex="30">
        <h4>Name</h4>
      </div>
      <div class="" layout="column"  flex="25">
        <h4>Adobe ID</h4>
      </div>
      <div class="" layout="column"  flex="25">
        <h4>Created</h4>
      </div>
      <div class="" layout="column"  flex="20">
        <h4>Status</h4>
      </div>
    </div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-1dp" flex>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          NXP
        </div>
        <div class="" layout="column"  flex="25">
          4fq34fr3f4q3f
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20">
          Up to date
        </div>
      </div>
      <hr>
      <div class="" layout="row" layout-align="center center">
        <div class="" layout="column"  flex="30">
          Secure Connected Everithing
        </div>
        <div class="" layout="column"  flex="25">
          f4fq34fr3f4q3f
        </div>
        <div class="" layout="column"  flex="25">
          Jan 23, 2016
        </div>
        <div class="" layout="column"  flex="20">
          Processing
        </div>
      </div>
      <hr>
    </md-whiteframe>
  </div>

</div>
