
.controlOption {
  background-color: rgb(255,87,34);
  color: white;
}

.controlEdit {
  color: rgb(255,87,34);
  vertical-align: middle;
}

.controlVisualization {
  background-color: rgb(255,87,34);
  color: white;
  vertical-align: middle;
}

.controlVisualization:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}


.groupOption {
  background-color: #ccc;
}

.controlOption:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

  .indicatorTittle {
    font-size: xx-small;
  }

  .indicatorContent {
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
  }

  .diemnsionTittle {
    font-size: small;
  }

  .indicatorDiv {
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 900px;
  }

  md-checkbox {
    left: 6px;
    margin-bottom: 0px;
    font-size: small;
  }

  .dimensionFilter {
    color: white;
  }

  .dimensionsOption {
    background-color: rgb(255,87,34);
    color: white;
  }

  .material-icons {
    vertical-align: middle;
  }

  .md-padding {
    padding: 0px 100px 5px 100px;
  }

  .md-whiteframe-11dp {
    height: 90%;
    max-height: 200px;
  }

  .md-whiteframe-12dp {
    height: 370px;
  }

  .calculationFilter {
    height: 30%;
  }

  .divImage {
    height: 100%;
  }

  .loginFrame {
    height: 100%;
  }

  .divLogIn {
    padding: 10px 30px 10px 30px;
  }

    .gridLog {
    height: 80%;
  }

  .logDiv {
    padding-top: 5%;
  }
